<p>Header</p>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenido, admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button fill="clear" (click)="home()">Inicio</ion-button>
    <ion-button fill="clear" (click)="registro()">Registrar vehículo</ion-button>
    <ion-button fill="clear" (click)="perfil()">Perfil</ion-button>
    <ion-button color="danger" (click)="salir()">Salir</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
