<app-head></app-head>

<br>
<br>

<ion-content>
  <div class="container">
    <div class="left-column">
        
    <div class="card1">
      <div class="card-photo1"></div>
      <div class="card-title1">Juanito Conduce <br>
          <span>juanitoConduce@gmail.com  02/01 </span>
    </div>
  </div>
  <div>
    <div class="rating">
      <input type="radio" id="star5" name="rating" value="5">
      <label for="star5"></label>
      <input type="radio" id="star4" name="rating" value="4">
      <label for="star4"></label>
      <input type="radio" id="star3" name="rating" value="3">
      <label for="star3"></label>
      <input type="radio" id="star2" name="rating" value="2">
      <label for="star2"></label>
      <input type="radio" id="star1" name="rating" value="1">
      <label for="star1"></label>
    </div>
  </div>
  <div>
    <img src="../../../assets/imagen/64x64.png" alt="" width="150px">
  </div>

  </div>
  <div class="right-column">
    <div class="card-2">
      <span id="card-2-h1">. Perfil</span>
      <div class="h1-circle">
           <ul id="h1-circle-ul-1">
          <li>Juanito Conduce</li>
          <li>22 años</li>
          <li>Venezolano</li>
           </ul>
           <ul id="h1-circle-ul-2">
          <li>2018</li>
          <li>XL*ZL*19</li>
          <li>Chevrolet spark</li>
           </ul>
      </div>
  </div>

</div>
</div>


  <app-foot></app-foot>
</ion-content>