<ion-content [fullscreen]="true">
  <ion-title style="text-align: center; margin: 5%;">Registrar vehículo</ion-title>
  <div>
    <div style="margin-left: 10px;">
      <ion-input [(ngModel)]="patente" label="Ingrese patente" labelPlacement="floating"
       placeholder="ingrese"></ion-input>
    </div>
  </div>
  <div>
    <div style="margin-left: 10px;">
      <ion-input [(ngModel)]="ano" label="Ingrese año" labelPlacement="floating"
       placeholder="ingrese"></ion-input>
    </div>
  </div>
  <div>
    <div style="margin-left: 10px;">
      <ion-input [(ngModel)]="dueno" label="Ingrese dueño" labelPlacement="floating"
       placeholder="ingrese"></ion-input>
    </div>
  </div>
  <div style="margin: 15px;">
    <ion-button expand="block" (click)="irHome()">Ingresar</ion-button>
  </div>
</ion-content>